<div>
	广告：
    <a href="http://findti.com/?r=0379029af20eda86" target="_blank">云梯：翻墙利器(双方省10元)</a>
    -
    <a href="http://findti.com/?r=0379029af20eda86" target="_blank">红杏：程序员专用，不限流量(双方加10天)</a>
</div>
