<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<link rel="alternate" type="application/rss+xml" title="{{siteConfig.title}} ~ Feed" href="/feed.xml" />

<link href="/assets/rainbow/themes/github.css" rel="stylesheet" type="text/css">
<link rel='stylesheet' href='/assets/css/main.css' type='text/css' media='all' />

<script src="/assets/rainbow/js/rainbow.js"></script>
<script src="/assets/rainbow/js/language/generic.js"></script>
<script src="/assets/rainbow/js/language/python.js"></script>
<script src="/assets/rainbow/js/language/java.js"></script>
<script src="/assets/rainbow/js/language/javascript.js"></script>
<script src="/assets/rainbow/js/language/html.js"></script>
<script src="/assets/rainbow/js/language/css.js"></script>
<script src="/assets/rainbow/js/language/scala.js"></script>
<script src="/assets/rainbow/js/language/shell.js"></script>
