html {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Verdana', 'Hiragino Sans GB', 'STHeiti', 'SimSun', sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

body {
    padding: 0 20px;
}

.index_posts a {
    text-decoration: underline;
    color: #21759b;
}

.index_posts a:visited {
	color: #9f9f9f;
}

.index_posts li {
	font-size: 18px;
	line-height: 32px;
}

