html {
    font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Verdana', 'Hiragino Sans GB', 'STHeiti', 'SimSun', sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

body {
    padding: 0 20px;
}

a {
    text-decoration: underline;
    color: #21759b;
}

a:visited {
	color: #9f9f9f;
}

.posts li {
	font-size: 16px;
	line-height: 28px;
}

.category_title {
	font-size: 40px;
	line-height: 80px;
}
