<!DOCTYPE html>
<html>
<head>
    <title>{{post.title}}</title>
    {{>partials/head}}
</head>
<body>

<h1>
    ({{post.dateOnly}}) {{post.title}}
</h1>

{{>partials/ad}}

<hr/>

<div>
    {{{post.contentAsHtml}}}
</div>

{{>partials/disqus}}

</body>
{{>partials/google_analytics}}
</html>
